<% provide(:title, "Sign up") %>
<div class="center jumbotron">
  <%= link_to "Sign up as a student", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center jumbotron">
  <%= link_to "Sign up as a teacher", '#', class: "btn btn-lg btn-primary" %>
</div>