<% provide(:title, 'Contact') %>
<!DOCTYPE html>

<html class="js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-proximanova-n9-active wf-proximanova-n7-active wf-proximanova-n1-active wf-proximanova-n6-active wf-proximanova-n3-active wf-adelle-n1-active wf-stratum2web-n7-active wf-active" lang="en">
<head>
  <link rel="stylesheet" href="./Contact us/style.css">
    <link rel="stylesheet" href="./Contact us/ss-social.css">
  <link rel="stylesheet" href="./Contact us/ss-symbolicons-block.css">

  <style type="text/css">
  .tk-proxima-nova{font-family:"proxima-nova",sans-serif;}.tk-adelle{font-family:"adelle",serif;}.tk-stratum-2-web{font-family:"stratum-2-web",sans-serif;}</style>
  <script>
  try{Typekit.load();}catch(e){}</script>
<style type="text/css" abt="234">
</style>
</head>

<body id="about" onload="initialize()">
<header role="banner">
	<div class="wrap">
		<div class="logo_mark"></div>
		<section id="intro">
			<h1 style="font-size: 96.9px;">
                <span>
                Contact</span>Say Hello</h1>
        </section>
    </div>
</header>

    
</div>
  <div id="content"
  	<div id="contact_details">
	  	<div class="wrap">
	  		<div class="contact_details">
	  		<div>
                      <div class="circle_icon email"></div>
		  		<p class="contact_info">11510135@mail.sustc.edu.com</p>
                  <hr>
		  		<ul id="address">
		  			<li class="last">
		  				<div class="vcard">
                              <p class="adr">
		  						<span class="street-address">
                                      Li yuan, SUSTech,<br>Xi li Street, </span>
		  						<span class="region">
                                      Nan Shan</span><br>
		  						<span class="county">
                                      Shen zhen</span> 
                                <span class="postal-code">
                                      518055</span><br>
		  						<span class="country-name">
                                      China</span><br>
		  						<span class="tel">
                                      <b>
                                      +666 6666</b></span>
                              </p>                              
                          </div> 
                      </li>
                  </ul>        
                  </div>
              </div>
          </div>
      
	<div id="map_canvas">
            <iframe src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3683.5922630343016!2d113.99592831495997!3d22.59434828517162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f2f004433deb%3A0x78b8602ec96ff57b!2z5Y2X5pa556eR5oqA5aSn5a2m!5e0!3m2!1szh-CN!2scn!4v1515013334465" width="300" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

<section id="send_message">
	<div class="wrap">
		<div id="contact-form-wrapper">
		<h2>
            Send Us a message</h2>
        <form id="contact-form" method="">
			<p id="error">
                Please make sure all fields are fill out correctly.</p>
			<fieldset>
				<div class="col1">
					<textarea name="message" id="message" title="Enter your message" placeholder="Write your message here…">
                    </textarea>
                </div>
				<div class="col2">
                    <input type="text" name="name" id="name" title="Enter your name" placeholder="Your name">
                    <br>
                    <input type="email" name="email" id="email" title="Enter your email" placeholder="Your email address"> 
                    <input type="text" name="phonenumber" id="phonenumber" title="Enter your phone number" value="">
                    <br>
					<button class="submit" name="submit" type="submit" id="contact_submit">
                        Send Message</button>
                </div>
            </fieldset>
        </form>
        </div>
    </div>
    </section>
</body>
</html>
