<div class="container">
  <div class="col-md-8">
    <div class="row" style="height:150px">
      
    </div>
    <div class="row" style="height:20px"> </div>
    <div class="container">
      <div class="row" style="height:50px">
        <p style="font-family: 'Oswald', sans-serif;font-size:40px;color:#666666;height:40px">News</p>
      </div>
      <div class="row" style="height:20px">
        <p style="font-family: 'Ubuntu', sans-serif;"> Some news with your friends. </p>
      </div>
      <div class="row bg-primary" style="height:20px;width:710px"> </div>
      <div class="row" style="width:710px">
        <div class="col-md-2 bg-primary">
          <div class="row" style="height:100px;width:100px">
            
          </div>
        </div>
        <div class="col-md-1 align-self-start text-center text-dark bg-light" style="height: 410px;">
          <div class="row text-center" style="height:50px">
            <div class="col-md-12 align-self-end" style="height:50px">
              <p style="font-family: 'Ubuntu', sans-serif;font-size:30px" class="">#</p>
            </div>
          </div>
        </div>
        <div class="col-md-9 align-self-start bg-primary text-dark">
          <div class="row bg-light" style="height:10px"> </div>
          <div class="row" style="height:30px">
            <div class="container bg-light">
              <p style="font-family: 'Ubuntu', sans-serif;font-size:10px" class="bg-light">
                <font style="font-size:20px">21</font>th/
                <font style="font-size:15px">NOV</font>
              </p>
            </div>
          </div>
          <div class="row bg-light" style="height:10px"> </div>
          <div class="row" style="height:360px">
            <div class="container bg-light">
              
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="height:100px"> </div>
      <div class="row" style="height:100px"> </div>
    </div>
  </div>
  <div class="col-md-4" style="height:800px">
    <div class="row" style="height:150px">
      <div class="container">
        <div class="col-md-6 text-center" style="height:150px;width:100px">
          <a href="#" class="text-center"> <span class="glyphicon glyphicon-file btn-lg text-center text-dark" style="color:#666666;font-size:60px"></span>
            <p style="font-family: 'Ubuntu', sans-serif;font-size:30px" class="text-dark">Upload</p>
          </a>
        </div>
        <div class="col-md-6 text-center" style="height:150px;width:100px">
          <a href="#" class="text-center"> <span class="glyphicon glyphicon-tree-conifer btn-lg text-center text-dark" style="color:#666666;font-size:60px"></span>
            <p style="font-family: 'Ubuntu', sans-serif;font-size:30px" class="text-dark">To tree</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="height:20px"> </div>
    <div class="row" style="height:25px;">
      <p style="font-family: 'Oswald', sans-serif;font-size:18px;color:#666666" class="">Contributions List</p>
    </div>
    <div class="row" style="height:20px"> </div>
    <div class="row" style="">
      <table class="table">
        <thead style="font-size:15px">
          <tr>
            <th>File</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <td class="text-left" style="font-size:12px" href="#">
              <a href="#" class="text-dark">Introduction to Computer Science and Programming.pdf</a>
            </td>
            <td>16/11/2017</td>
          </tr>
          <tr>
            <td>
              <a href="#" class="text-dark"> </a>
            </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>