<section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Gallery</h3>
          	<hr>
				<div class="row mt">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
						<div class="project-wrapper">
		                    <div class="project">
		                        <div class="photo-wrapper">
		                            <div class="photo">
		                            	<a href="assets/img/Head First Design Patterns.pdf" target="_blank"><img class="img-responsive" src="http://otroblogmas.com/wp-content/uploads/2009/11/Head-First-Design-Patterns-Book.jpg" alt=""></a>
		                            </div>
		                            <div class="overlay"></div>
		                        </div>
		                    </div>
		                </div>
					</div><!-- col-lg-4 -->
					
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
						<div class="project-wrapper">
		                    <div class="project">
		                        <div class="photo-wrapper">
		                            <div class="photo">
		                            	<a class="fancybox" href="https://covers.booktopia.com.au/big/9781111987046/computer-organization-and-architecture.jpg"><img class="img-responsive" src="https://covers.booktopia.com.au/big/9781111987046/computer-organization-and-architecture.jpg" alt=""></a>
		                            </div>
		                            <div class="overlay"></div>
		                        </div>
		                    </div>
		                </div>
					</div><!-- col-lg-4 -->
					
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
						<div class="project-wrapper">
		                    <div class="project">
		                        <div class="photo-wrapper">
		                            <div class="photo">
		                            	<a class="fancybox" href="https://careerdrill.com/blog/wp-content/uploads/2015/11/careerdrill_datastructure_algorithm_book2.jpg"><img class="img-responsive" src="https://careerdrill.com/blog/wp-content/uploads/2015/11/careerdrill_datastructure_algorithm_book2.jpg" alt=""></a>
		                            </div>
		                            <div class="overlay"></div>
		                        </div>
		                    </div>
		                </div>
					</div><!-- col-lg-4 -->
				</div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="https://raw.githubusercontent.com/Haiik/assets/master/js/fancybox/jquery.fancybox.js"></script>    
    <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.scrollTo.min.js"></script>
    <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/common-scripts.js"></script>

    <!--script for this page-->
  
  <script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });

  </script>
  
  <script>
      //custom select box

      $(function(){
          $("select.styled").customSelect();
      });

  </script>