<footer class="footer">
  <small>
    The <a href="http://wesyllabus.herokuapp.com">Website</a>
    by <a href="#">SUSTech CS</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://sustc.edu.cn">News</a></li>
    </ul>
  </nav>
</footer>